<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <boby>
    <h1>Maintenance Mode</h1>
    <p>This site is in maintenance mode</p>
    </body>
</html>

